/* home */
#home {
  height: 820px;
}

.header {
  font-size: 1.7rem;
}

/* about */
.image img {
  width: 275px;
  height: 200px;
}

.intro h2 {
  font-size: 1.5rem;
}

/* contact */

.input {
  width: 80%;
}

#msg {
  width: 70%;
}

#send {
  width: 20%;
}
