* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.nav-bar ul li {
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.5s ease;
}

.nav-bar ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}

/* Home section */

#home {
  display: flex;
  flex-direction: collumn;
  height: 840px;
  justify-content: center;
  align-items: center;
  color: black;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("../asset/bg.jpg") no-repeat center center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 10%;
}

.header {
  font-family: century;
  font-size: 3rem;
  text-align: center;
  margin: 40px 0px;
}

.btn {
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid black;
  outline: none;
  transform: 0.6s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  font-weight: black;
}

/* about section */

#about {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
  background-color: black;
}

.image {
  display: flex;
}

.image img {
  width: 800px;
  height: 500px;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* skills */
#skills{
  margin: -50px 0 -20px 0;
  background-color: black;
}

.title{
  color: white;
}


.skills-container{
  display: flex;
  justify-content: space-around;
}


.skills-logo{
  margin: 20px;
  color: white;
  text-align: center;
}

.skills-logo img{
  width: 200px;
  height: 150px;
}


/* portfolio */
#portfolio{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding:20px;
}

.title{
  padding-bottom: 10px;
  text-align: center;
  margin-bottom:20px;
}

.project{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
}

.projectTitle{
  display: flex;
  justify-content: center;
}

.projectDescription{
text-align: center;

}

.projectDescription a{
  text-decoration: none;
  color: orange;
  font-size: 2rem;
}

.projectDescription a:hover{
  text-decoration: none;
  color: white;
  transition: ease-in .2s;
}

.project img{
  width: 360px;
  height: 240px;
  margin: 10px;
}





/*Contact me */
#contact{
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.9);
  color: white;
  padding:20px;
}

h1{
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom:20px;
  }

.logo{
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
}

.logo a{
  text-decoration: none;
  color: black;
}

.logo a:hover{
  color: white;
  transition: ease-in 0.3s;
}

.logo i{
  size: 5rem;
}

.contact-name{
  display: flex;
  justify-content: space-around;
}

.linkedin{
  margin-left: 40px;
}

.github{
  margin-left: 80px;
}